.page {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page__body {
  @include font(400, 14px, 20px);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
}

.page__advantages {
  margin-bottom: 32px;
}

.page__location-search {
  text-align: center;
  margin-bottom: 49px;
}

.page__map {
  margin-bottom: 10px;
}
