$basic-black:#000000;
$basic-white:#ffffff;
$basic-blue:#81B3D2;
$basic-gray:#EEEEEE;
$special-brown:#766357;
$special-brown-darken:#604E43;
$special-brown-lighten:rgba(118, 99, 87, 0.3);
$special-black: rgba(0, 0, 0, 0.3);
$special-gray:#D6D6D6;
$field-gray:#F2F2F2;
