.video-gallery {
  text-align: center;
}

.video-gallery__title {
  @include font(700, 18px, 26px);
  padding-bottom: 29px;
}

.video-gallery__description {
  @include font(400, 14px, 24px);
  padding-bottom: 33px;
}
